<div class="small-12 medium-12 large-12 columns" id="contactHeader">
  hello!<br>
  email<br>
  github<Br>
  linkedin<br>
</div>

<div id= "contactForm">
  <%= form_for Contact.new do |f| %>
    <div class="small-10 medium-8 medium-centered large-8 medium-centered columns">
      <%= f.text_field :name, placeholder: "Name_" %>
    </div>
    <div class="small-10 medium-8 medium-centered large-8 medium-centered columns">
      <%= f.text_field :email, placeholder: "Email_" %>
    </div>



  <row>
    <div class="small-10 medium-8 medium-centered large-8 medium-centered columns">
      <%= f.text_field :comment, placeholder: "Message_" %>
    </div>
  </row>

  <row>
    <div class="small-1 small-centered medium-1 medium-centered large-1 large-centered columns">
      <%= submit_tag 'S E N D', class: "button tiny" %>
    </div>
  </row>
  <% end %>
</div>