<div class="small-12 medium-12 large-12 columns" id="contactHeader">
  Let's Collaborate
</div>

<div class="small-12  medium-12 large-12 columns" id="contactLinks">
  <%= link_to image_tag("in.png"), "http://www.linkedin.com/in/barreyro" %>
  <%= link_to image_tag("email.png"), "mailto: stephaniebarreyro@gmail.com" %>
  <%= link_to image_tag("github.png"), "https://github.com/barreyro" %>
  <br>
</div>

<div class="small-12 medium-10 medium-offset-3 large-10 large-offset-3 columns" id="contactsText">
  Leave a message:
</div>
  <%= form_for Contact.new do |f| %>
    <div class="row">
    <div class="small-10 small-centered medium-6 medium-centered large-6  columns">
      <%= f.text_field :name, placeholder: "Your name:" %>
    </div>
    </div>
    <div class="row">
    <div class="small-10 small-centered medium-6 medium-centered large-6  columns">
      <%= f.text_field :email, placeholder: "Your email:" %>
    </div>
    </div>
    <div class="row">
    <div class="small-10 small-centered medium-6 medium-centered large-6  columns">
      <%= f.text_area :comment, placeholder: "Message", :input_html => { :rows => 100 } %>
    </div>
    </div>
  <div class="small-1 small-centered medium-1  large-1 large-centered columns">
      <%= submit_tag 'S E N D', class: "button tiny" %>
  </div>
  <% end %>
</div>
