<div class="small-12 medium-12 large-12 columns" id="projectsHeader">
  <center>
     Portfolio
  </center>
</div>
<div class="projectsBottom">

<div class="row" id="lotifyrow" data-equalizer>
  <div class="small-12 medium-6 large-6 extra-large-6 columns" id="lotifypic">
    <%= image_tag("lotifyme.png", :class => "lotifymepic") %>
  </div>
  <div class="small-12 medium-6 large-6 columns" id= "lotifymetext">
    <h3>LotifyMe</h3>
    <i><%=link_to "DEMO |", 'http://www.lotifyme.co', :class => "lotifymelink" %></i> <i> <%=link_to " CODE", 'https://github.com/drodriguez56/lotifyMe', :class => "lotifymelink" %></i><br>
    <span id="tools">
    SWIFT | RUBY | TDD/RSPEC | RAILS | JSON | SLACK | CIRCLECI | RESPONSIVE DESIGN<br> </span> <br>A native iOS and web application built in seven days with three other teammates, learning Swift at the same time. LotifyMe participants  choose from 5 New York state lotteries. The app will notify users when they win or win partial of the lottery.
  </div>
</div>


<div class="row" id="lotifyrow" data-equalizer>
  <div class="small-12 medium-6 large-6 extra-large-6 columns" id="lotifypic">
    <%= image_tag("iball.png", :class => "lotifymepic") %>
  </div>
  <div class="small-12 medium-6 large-6 columns" id= "lotifymetext">
    <h3>IBALL</h3>
    <i><%=link_to "DEMO |", 'http://bo-ba.herokuapp.com', :class => "lotifymelink" %></i> <i> <%=link_to " CODE", 'https://github.com/barreyro/iball_rails', :class => "lotifymelink" %></i><br>
    <span id="tools">
    RAILS | AJAX | RAILS | GOOGLE MAPS API | HTML5 | CSS3 <br></span><br>A responsive web application to connect any basketball enthusiast by allowing him/her to organize pickup games in their area. First built on Sinatra then ported to Rails.
  </div>
</div>

<div class="row" id="lotifyrow" data-equalizer>
  <div class="small-12 medium-6 large-6 extra-large-6 columns" id="lotifypic">
    <%= image_tag("bobabae.png", :class => "lotifymepic") %>
  </div>
  <div class="small-12 medium-6 large-6 columns" id= "lotifymetext">
    <h3>BOBABAE</h3>
    <i><%=link_to "DEMO |", 'http://bo-ba.herokuapp.com', :class => "lotifymelink" %></i> <i> <%=link_to " CODE", 'https://github.com/barreyro/bobabae', :class => "lotifymelink" %></i><br>
    <span id="tools">
    JAVASCRIPT | JQUERY |  SINATRA | RUBY | HTML5 <br> </span>goodbye Hi, thanks for visiting! I'm Stephanie Barreyro, a creative developer with a great passion for user experience. I've worked on projects independently and on teams. Nothing excites me more than working on new challenging features to exercise my curious mind
  </div>
</div>