<div class="small-12 medium-12 large-12 columns" id="projectsHeader">
  <center>
     Portfolio
  </center>
</div>
<div class="projectsBottom">

<div class="row" id="lotifyrow" data-equalizer>
  <div class="small-12 medium-6 large-6 extra-large-6 columns" id="lotifypic">
    <%= image_tag("lotifyme.png", :class => "lotifymepic") %>
  </div>
  <div class="small-12 medium-6 large-6 columns" id= "lotifymetext">
    <h3>LotifyMe</h3>
    <i><%=link_to "DEMO |", 'http://www.lotifyme.co', :class => "lotifymelink" %></i> <i> <%=link_to "| CODE", 'https://github.com/drodriguez56/lotifyMe', :class => "lotifymelink" %></i><br>
    <span id="tools">
    SWIFT | RUBY | TDD/RSPEC | RAILS | JSON | SLACK | CIRCLECI | RESPONSIVE DESIGN<br> </span> A native iOS and web application built in seven days with three other teammates, while learning Swift at the same time. LotifyMe participants choose from 5 New York state lotteries. The app will notify users when they win or win partial of the lottery.
  </div>
</div>


<div class="row" id="lotifyrow" data-equalizer>
  <div class="small-12 medium-6 large-6 extra-large-6 columns" id="lotifypic">
    <%= image_tag("iball.png", :class => "lotifymepic") %>
  </div>
  <div class="small-12 medium-6 large-6 columns" id= "lotifymetext">
    <h3>IBALL</h3>
    <i><%=link_to "DEMO |", 'http://bo-ba.herokuapp.com', :class => "lotifymelink" %></i> <i> <%=link_to "| CODE", 'https://github.com/barreyro/iball_rails', :class => "lotifymelink" %></i><br>
    <span id="tools">
    RUBY | RAILS | AJAX | GOOGLE MAPS API | HTML5 | SCSS <br></span>A responsive web application to connect basketball enthusiasts by organizing pickup games in their area. First built on Sinatra then ported to Rails.
  </div>
</div>

<div class="row" id="lotifyrow" data-equalizer>
  <div class="small-12 medium-6 large-6 extra-large-6 columns" id="lotifypic">
    <%= image_tag("bobabae.png", :class => "lotifymepic") %>
  </div>
  <div class="small-12 medium-6 large-6 columns" id= "lotifymetext">
    <h3>BOBABAE</h3>
    <i><%=link_to "DEMO |", 'http://bo-ba.herokuapp.com', :class => "lotifymelink" %></i> <i> <%=link_to "| CODE", 'https://github.com/barreyro/bobabae', :class => "lotifymelink" %></i><br>
    <span id="tools">
    JAVASCRIPT | JQUERY |  SINATRA | HTML5 <br> </span>
    A single page app utilizing Object Oriented JavaScript and asynchronous event handling. BobaBae requires 2 competitors to play this sweet game.
  </div>
</div>