<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Stephanie Barreyro || Web Dev</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="hide-for-medium-up">
      <div class="contain-to-grid sticky">
      <nav class="top-bar " data-topbar role="navigation" id="smallNavBar">
        <div class="row">
          <div class="small-4 columns" id="navLinks">
            <%=link_to "Contact", contacts_path %>
          </div>
          <div class="small-4 columns" id="navLinks">
            <%=link_to "***", root_path %>
          </div>
          <div class="small-4 columns" id="navLinks">
            <%=link_to "Projects", projects_path %>
          </div>
        </div>
      </nav>
    </div>
    </div>

      <row>
        <div class="hide-for-small" id="sidediv">
          <%= render "layouts/navigation" %>
        </div>

        <div class="small-12 columns medium-12 large-12 columns" id="rightbody">
          <%= yield %>
        </div>
      </row>


  </body>
</html>
