<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
      <a class="hide-for-medium-up left-off-canvas-toggle ">X</a>
      <aside class="left-off-canvas-menu contain-to-grid sticky">
        <ul>
          <li><%= link_to 'home', root_path, :class=>"navhome" %></li>
          <li><%= link_to 'contact', contacts_path %> </li>
          <li><%= link_to 'projects', projects_path %> </li>
        </ul>
      </aside>

      <row>
        <div class="hide-for-small" id="sidediv">
          <%= render "layouts/navigation" %>
        </div>

        <div class="small-12 columns medium-12 large-12 columns" id="rightbody">
          <%= yield %>
        </div>
      </row>

    </div>
  </div>
  </body>
</html>
