<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
      <a class="hide-for-medium hide-for-large left-off-canvas-toggle ">X</a>

      <aside class="left-off-canvas-menu">
        <ul>
          <li><%= link_to 'home', root_path, :class=>"navhome" %></li>
          <li><%= link_to 'contact', contacts_path %> </li>
          <li><%= link_to 'projects', projects_path %> </li>
        </ul>
      </aside>

      <row>
        <div class="hide-for-small medium-1 large-1 columns">
          <%= render "layouts/navigation" %> </div>
        <div class="small-12 medium-11 large-11 columns">
          <%= yield %></div>
      </row>
    </div>
  </div>
  </body>
</html>
